.game {
    width: 100%;
    margin-top: 0px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.game-board {
  display: -ms-flexbox;
  display: flex;
  width: 19%;
  text-align: center;
  margin: 30px auto 0 auto;
}

.Stopwatch {
  text-align: center;
  margin-top: 30px;
}


body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .box {
    padding: 5px;
  }
  .box-row {
    display: flex;
  }
  .board{
      display: flex;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(195, 255, 255);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    display: flex;
    color: black;
  }

  .errorSquare {
    background: rgb(202, 82, 66);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    display: flex;
    color: black;
  }
  
.MuiButtonBase-root.MuiFab-root.Start.MuiFab-primary {
  margin-right: 10px;
}