.game {
    width: 100%;
    margin-top: 0px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


.game-board {
  display: flex;
  width: 58%;
  margin-left: 42%;
  margin-top: 31px;

}


body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .box {
    padding: 5px;
  }
  .box-row {
    display: flex;
  }
  .board{
      display: flex;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(195, 255, 255);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    display: flex;
    color: black;
  }
      
